:root {
  --background-color: #D8D8D8;
  --text-color: #080808;
  --text-color-alt: #f3f3f3;

  --title-color: #080808;
  --title-color-alt: #f3f3f3;
  --accent-color: #de1616;
}

/* Fonts */

@font-face {
  font-family: 'Trap';
  src: url('../fonts/TrapMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('../fonts/TrapBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('../fonts/PPMonumentExtended-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  cursor: default;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Trap", sans-serif;
  font-size: 100%;
}

h1,
p,
blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

.symbol-background-container {
  pointer-events: none;
  position: fixed;
  top: 10%;
  right: 6%;
  width: 300px;
  height: 300px;
  filter: blur(25px);
  animation: deco-translate 42s ease infinite;
  z-index: -1;
}

.symbol-background {
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/assets/img/icons/ellipse symbol.svg");
  opacity: 0.5;
  animation: deco-rotate 35s ease-in infinite;
}

@keyframes deco-translate {
  0% {
    transform: translate(0px, 0px);
  }

  48% {
    transform: translate(-308px, 183px);
  }

  70% {
    transform: translate(-444px, -60px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes deco-rotate {
  0% {
    transform: rotateZ(13deg);
  }

  48% {
    transform: rotateZ(190deg);
  }

  70% {
    transform: rotateZ(120deg);
  }

  100% {
    transform: rotateZ(13deg);
  }
}

.symbol-background-big-container {
  pointer-events: none;
  position: fixed;
  top: 20%;
  left: -10%;
  width: 900px;
  height: 900px;
  filter: blur(40px);
  animation: deco-big-translate 60s ease-out infinite;
  z-index: -1;
}

.symbol-background-big {
  width: 100%;
  height: 100%;
  background: no-repeat center/100% url("/assets/img/icons/ellipse symbol.svg");
  opacity: 0.4;
  animation: deco-big-rotate 90s ease-out infinite;
}

@keyframes deco-big-translate {
  0% {
    transform: translate(0px, 0px);
  }

  37% {
    transform: translate(340px, 100px);
  }

  70% {
    transform: translate(200px, -200px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes deco-big-rotate {
  0% {
    transform: rotateZ(-45deg);
  }

  30% {
    transform: rotateZ(150deg);
  }

  60% {
    transform: rotateZ(-140deg);
  }

  100% {
    transform: rotateZ(-45deg);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  color: #080808;
}

/* Anchor */

a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  transition: ease-in-out 200ms;
  margin-bottom: 6px;
  font-weight: 900;
}

.project-link a {
  text-transform: capitalize;
  font-size: 1.2rem;
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--accent-color);
  transition: ease-in-out 200ms;
}

a:hover::before {
  width: 100%;
}

.work-link::before {
  content: none;
}

.work-link {
  transition: none;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 2vw, 4rem);
}

.language-selector {
  font-size: 1rem;
}

header a {
  margin: 0;
  font-family: 'PP Monument Extended';
  font-size: clamp(0.8rem, 2vw, 1rem);
}

code {
  font-size: 0.9em;
}

p {
  font-size: 1.2rem;
}

.introduction-section {
  padding-bottom: clamp(5rem, 0.1rem + 10vw, 10rem);
  height: calc(100vh - 68px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.arrow-indicator {
  background-color: var(--accent-color);
  background: no-repeat center url("/assets/img/icons/arrow.svg");
  position: absolute;
  height: 50px;
  width: 18px;
  bottom: 26px;
  opacity: 1;
  animation: arrow 4s ease infinite;
  transition: 0.4s ease-in;
}

.hide {
  opacity: 0;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0px);
  }
}

.introduction {
  max-width: 1000px;
  cursor: default;
}

.introduction h1 {
  font-family: 'PP Monument Extended';
  font-weight: normal;
  font-size: clamp(1.6rem, -3.5rem + 20vw - 5vh, 2.4rem);
}

.description {
  max-width: clamp(660px, -3.5rem + 20vw, 100%);
  padding-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-rows: 1fr auto;
}

.email-copy-container {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  height: 1.6rem;
}

.email-copy {
  top: 100%;
  left: 0px;
  display: block;
  transition: transform 150ms ease-in-out 0s, color 50ms ease;
  font-family: 'PP Monument Extended';
}

.email-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.email-copy::before {
  content: attr(data-text);
  position: relative;
  top: 100%;
  left: 0px;
  display: block;
  height: 100%;
  width: 100%;
}

/* Move up two texts (20px = font-size) */
.email-copy-container:hover .email-copy {
  transform: translateY(-1.6rem);
}

.email-copy-container:active .email-copy {
  color: var(--accent-color);
}

.email-copy-container::after {
  content: "Click to copy";
  position: relative;
  bottom: 1.4rem;
  left: 80%;
  margin-left: 65px;
  padding: 4px;
  font-size: 0.7rem;
  color: grey;
  background-color: #d3d3d3;
  border-radius: 4px;
  font-style: italic;
  opacity: 0;
  transition: ease 0.2s;
  z-index: -1;
}

.email-copy-container:hover::after {
  opacity: 1;
}

#symbol {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: auto 0;
}

#symbol img {
  position: absolute;
}

#ellipse-small {
  width: 86%;
  animation: rotate-small 24s ease infinite;
}

#ellipse-big {
  width: 100%;
  animation: rotate-big 18s ease infinite;
}

@keyframes rotate-small {
  0% {
    transform: rotateZ(60deg);
  }

  19% {
    transform: rotateZ(-20deg);
  }

  41% {
    transform: rotateZ(-130deg);
  }

  74% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(61deg);
  }
}

@keyframes rotate-big {
  0% {
    transform: rotateZ(41deg);
  }

  46% {
    transform: rotateZ(120deg);
  }

  67% {
    transform: rotateZ(81deg);
  }

  88% {
    transform: rotateZ(-20deg);
  }

  100% {
    transform: rotateZ(42deg);
  }
}

.section-container {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
}

.section-title {
  font-family: 'PP Monument Extended';
  font-weight: 900;
  text-transform: uppercase;
}

.work-section {
  /*display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);*/

  padding: 2rem 0 4rem 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  row-gap: 4rem;
}

.work-link {
  display: inherit;
  margin-bottom: 0;
}

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: clamp(60vh, 60vw, 78vh);
  width: 100%;
  border-radius: 2px;
  background-color: var(--background-color);
}

.work-link:hover {
  color: inherit;
}

.work-container:hover img {
  transform: scale(1.04);
}

.work-container:hover .work-information h1 span {
  transform: translateX(0px);
  width: 47px;
  opacity: 1;
}

.work-container:hover {
  color: var(--text-color);
}

.work-information {
  /*position: sticky;
  top: 10rem;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  padding: 3rem;
  text-align: center;
}

.work-information h1 {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: 'PP Monument Extended';
  transition: width 0.2s linear;
}

.work-information h1 span {
  transform: translateX(-20px);
  display: inline-block;
  width: 0;
  opacity: 0;
  transition: all 0.2s linear;
}

.work-information p {
  font-weight: normal;
  margin-top: 14px;
  max-width: 600px;
}

.work-image {
  position: relative;
  max-height: 620px;
  max-width: 60%;
  overflow: hidden;
  border-radius: 2px;
}

.work-image img {
  transition: ease-out 0.8s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 620px) {
  .arrow-indicator {
    width: 16px;
    bottom: 14px;
  }

  .work-section {
    padding-bottom: 0;
    width: 100vw;
  }

  .work-information {
    padding: 2rem 5%;
  }

  .work-information h1 span {
    transform: translateX(0px);
    width: 47px;
    opacity: 1;
  }

  .work-image {
    max-width: 100%;
  }

  .email-copy-container::after {
    display: none;
  }
}

.project-section {
  margin-top: 4rem;
}

.project-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.project {
  max-width: 640px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
}

.project a {
  margin-right: 0.4rem;
}

.contact-section {
  padding: 2rem 0 4rem 0;
}

.contact-container {
  max-width: 640px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
}

.contact-container a {
  margin-bottom: 0;
}

.footer {
  font-size: 1.6rem;
}

.footer * {
  margin-bottom: 1rem;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3a4043;
    --text-color: #f3f3f3;
    --text-color-alt: #080808;
  }

  .svg-element {
    filter: invert(100%) sepia(0%) saturate(5596%) hue-rotate(80deg) brightness(112%) contrast(91%);
  }

  .symbol-background,
  .symbol-background-big {
    opacity: 0.2;
  }
}