:root {
  --background-color: #D8D8D8;
  --text-color: #080808;
}

::-moz-selection {
  /* Code for Firefox */
  background: lightcoral;
}

::selection {
  background: lightcoral;
}

/* Fonts */

@font-face {
  font-family: 'Bifocals';
  src: url('../fonts/Bifocals.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bifocals';
  src: url('../fonts/BifocalsBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  cursor: default;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Bifocals", sans-serif;
  font-size: 100%;
}

h1,
p,
blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Typography */

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'EB Garamond', serif;
  color: var(--text-color);
  transition: ease-in-out 0.4s;
}

a:hover {
  text-decoration: underline;
  transform: translate(4px, -4px);
}

a:visited {
  color: var(--text-color);
}

code {
  font-size: 0.9em;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-color);
}

header p {
  cursor: pointer;
}

header main {
  display: flex;
  align-items: center;
  height: 68px;
  border-bottom: 2px solid var(--text-color);
}

/* Grid */

main {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
}

.introduction-container {
  padding: clamp(0.4rem, 0.1rem + 16vw, 6rem) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction {
  font-size: clamp(2.4rem, 0.6rem + 4vw, 3.2rem);
  max-width: 1120px;
  cursor: default;
}

.introduction-details {
  display: flex;
  flex-wrap: wrap;
}

.introduction-details p {
  font-size: 24px;
  width: 420px;
  margin-top: 4rem;
  margin-right: 4rem;
}

.special-font {
  font-weight: 900;
}

#symbol {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto 0;
}

#symbol img {
  position: absolute;
}

#ellipse-small {
  width: 86%;

  animation: rotate-small 14s ease infinite;
}

#ellipse-big {
  width: 100%;

  animation: rotate-big 10s ease infinite;
}

@keyframes rotate-small {
  0% {
    transform: rotateZ(60deg);
  }

  20% {
    transform: rotateZ(-20deg);
  }
  80% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(61deg);
  }
}

@keyframes rotate-big {
  0% {
    transform: rotateZ(20deg);
  }

  40% {
    transform: rotateZ(120deg);
  }
  58% {
    transform: rotateZ(80deg);
  }

  100% {
    transform: rotateZ(19deg);
  }
}

.section-container {
  margin: 6rem 0 2rem 0;
  border-top: 2px solid var(--text-color);
  padding-top: 10px;
}

.image-slider {
  width: 100%;
  height: 500px;
  padding: 1.4rem 0;
  overflow-x: auto;
  overflow-y: clip;
  white-space: nowrap;
}

.image-slider img {
  display: inline-block;
  width: auto;
  max-height: 100%;
  margin-right: 8px;
}

.project {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-link {
  max-width: 640px;
}

.project-link a {
  margin-bottom: 2px;
  font-size: 2.6rem;
}

.footer {
  font-size: 1.6rem;
}

.footer * {
  margin-bottom: 1rem;
}